<h4> Book Your Flight </h4>

<%= form_with(model: @booking) do |form|%>
    <div>
        <%= "Airline: #{@flight.name}" %> <br>
        <%= " From #{@flight.departure_airport.name}(#{@flight.departure_airport.city}) to #{@flight.arrival_airport.name}(#{@flight.arrival_airport.city})"%><br>
        <%= "Departure Date And Time: #{@flight.time.strftime("%d/%m/%Y %I:%M %p")}"%></p>
        <%= "Passengers: #{params[:number_of_passengers]}"%>
    </div>
<% end %>